.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #3620c4;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

/* Add your global styles here if needed */

.hero-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 36px;
  color: #343a40;
}

.hero-section p {
  font-size: 18px;
  color: #6c757d;
}

.featured-products {
  padding: 50px 0;
}

.featured-products h2 {
  font-size: 28px;
  color: #343a40;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 20px;
  color: #343a40;
  margin-bottom: 15px;
}

.card-text {
  font-size: 16px;
  color: #6c757d;
}

.testimonials {
  padding: 50px 0;
}

.testimonials h2 {
  font-size: 28px;
  color: #343a40;
  margin-bottom: 30px;
}

.card p {
  font-size: 16px;
  color: #6c757d;
}

.card-body {
  padding: 20px;
}

/* Add your global styles here if needed */

/* Header Section Styles */
header {
  background-color: #fff; /* Adjust the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle lift */
}

nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #4a5568; /* Adjust the text color */
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #6b7280; /* Adjust the text color on hover */
}

/* Button Styles */
button {
  cursor: pointer;
}

/* Main Section Styles */
section {
  background-color: #f7fafc; /* Adjust the background color */
}

iframe {
  width: 100%;
  height: calc(100vh - 10.75rem); /* Adjust the height as needed */
  border: none;
}

/* Responsive Styles */
@media (max-width: 767px) {
  header {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
